
.team-section {
    text-align: center;
    width: 100vw;;
    max-width: 100%;
    padding: 60px 20px;
    padding-top: 0px;
    background-color: #f6f3ec;
    box-sizing: border-box;
  }
  
  .team-section h2 {
    font-family: serif;
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 40px;
    color: #36302A;
  }

  .team-member h3 {
    font-family: serif;
    font-weight: 100;
    font-size: 1.5em;
    margin: 5px 0 5px;
    color: #36302A;
  }

  .team-member p {
    font-family: sans-serif;
    font-weight: 100;
    color: #36302A;
  }
  
  .team-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .team-member {
    max-width: 300px;
    text-align: left;
  }
  
  .team-member img {
    width: 100%;
    border-radius: 5px;
  }
  

  
  .team-member a {
    display: block;
    color: #36302A;
    font-weight: 100;
    margin-bottom: 10px;
  }
  

  @media (max-width: 768px) or (max-height: 768px) {
    .team-section h2 {
      font-size: 2em;
    }
  }